/*-- scss:defaults --*/

// Colors
$orange:       #ff9600 !default;
$light-orange: #ffaa00 !default;
$teal:         #00AFD4 !default;

$primary:   $orange !default; // Navbar and link-color

// Navbar
$navbar-hl: $teal !default;

// Links
$link-decoration:       none !default;
$link-hover-color:      $light-orange !default;
$link-hover-decoration: underline !default;

// Table of contents
$toc-color:     $teal !default;
$toc-font-size: 1rem !default;

// Code
$code-color:    $teal !default;
$code-bg:       #f8f9fa !default; // lighten background for code
$code-block-bg: #f8f9fa !default;

// Fonts

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

//** use Avenir font if available
$font-family-sans-serif: Avenir, "Nunito Sans", sans-serif !default;
$font-family-monospace:  "Source Code Pro", monospace !default;

/*-- scss:rules --*/

//** Article subtitle: Lighten color of subtitle
.lead {
  font-size: 1.25rem;
  font-weight: 300;
  color: #6c757d;
}
